.gallery-root {
  text-align: center;
}

.gallery-header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}
.btnFavorite {
  display: block;
  margin: 15px auto;
  background: white;
  outline: none;
  transition: color 0.4s ease, background 0.4s ease;
  color: black;
  border: 1px black solid;
  padding: 5px 40px;
  cursor: pointer;

  &:hover {
    background: black;
    color: white;
  }
}

.loading {
  position: fixed;
  right: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 101;
  transition: opacity 0.4s ease;
  display: flex;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
}

.spinAll {
  color: white;
  font-size: 35px;
  display: block;
  margin: auto;
  animation: spin 1.5s ease infinite forwards;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gallery-intro {
  font-size: 15pt;
}
